services:
  umami:
    image: docker.umami.is/umami-software/umami:postgresql-latest
    deploy:
      resources:
        limits:
          cpus: ${CPUS}
          memory: ${MEMORY_LIMIT}
    ports:
      - ${HOST_IP}:${WEB_HTTP_PORT}:3000
    environment:
      DATABASE_URL: postgresql://${PGSQL_USER}:${PGSQL_PASSWORD}@${PGSQL_HOST}:${PGSQL_PORT}/${PGSQL_DATABASE}
      # generate with $( openssl rand -base64 32 )
      APP_SECRET: ${APP_SECRET}
    extra_hosts:
      # If connect to PostgreSQL on the Docker host, set PGSQL_HOST to 'pgsql'
      pgsql: host-gateway
    networks:
      - umami_net
    init: true
    healthcheck:
      test: ["CMD", "curl -f http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 15s

networks:
  umami_net:
