# Copy this file to .env

# Configure the Pyroscope source code integration in Grafana Pyroscope.
# https://grafana.com/docs/pyroscope/latest/configure-server/configuring-github-integration/
# The Client ID of your GitHub App
GITHUB_CLIENT_ID=
# The Client Secret of your GitHub App
GITHUB_CLIENT_SECRET=
# A random string used to encrypt the session
GITHUB_SESSION_SECRET=
