services:
  ddns:
    image: jeessy/ddns-go
    container_name: docker-ddns
    restart: unless-stopped
    network_mode: host
    volumes:
      - /mnt/nas/pve/volumes/docker/ddns_go_config.yaml:/root/.ddns_go_config.yaml
    entrypoint:
      - /bin/sh
      - -c
      - |
        while true; do
          if ip -6 addr show scope global | grep 'inet6 [23]'; then
            sleep 3
            ping -c1 -W5 $(ip -6 route | awk '/^[23]/{sub(/\/.*/, "", $1); print $1 "1"; exit}')
            exec /app/ddns-go -f 600
          fi
        done
    healthcheck:
      test: ping docker.home.kokomi.site -c1 -W1
