services:
  main:
    container_name: alist
    image: xhofe/alist:latest
    restart: unless-stopped
    networks:
      - docker
    volumes:
      # Mount the NAS share to the host machine at /mnt/nas/alist first,
      # to prevent CIFS credentials leaks to `docker inspect` capable users.
      - /mnt/nas/pve/volumes/alist:/opt/alist/data
      - /mnt/nas/pve/volumes/pichost:/opt/pichost
      # Generate certificate ahead with:
      # certbot certonly --dns-cloudflare --dns-cloudflare-credentials /etc/private/certbot/cloudflare.ini -d alist.home.kokomi.site
      - /etc/letsencrypt/live/alist.home.kokomi.site:/opt/certs/live/alist.home.kokomi.site:ro
      - /etc/letsencrypt/archive/alist.home.kokomi.site:/opt/certs/archive/alist.home.kokomi.site:ro
    environment:
      TZ: Asia/Shanghai

  ddns:
    image: jeessy/ddns-go
    container_name: alist-ddns
    restart: unless-stopped
    network_mode: service:main
    volumes:
      - /mnt/nas/pve/volumes/alist/ddns_go_config.yaml:/root/.ddns_go_config.yaml
    entrypoint:
      - /bin/sh
      - -c
      # exec ddns-go only when global IPv6 is available
      - |
        while true; do
          if ip -6 addr show scope global | grep 'inet6 [23]'; then
            sleep 3
            ping -c1 -W5 $(ip -6 route | awk '/^[23]/{sub(/\/.*/, "", $1); print $1 "1"; exit}')
            exec /app/ddns-go -f 600
          fi
        done
    healthcheck:
      test: ping alist.home.kokomi.site -c1 -W1

networks:
  docker:
    external: true
