services:
  alist:
    container_name: alist
    image: xhofe/alist:latest
    restart: unless-stopped
    networks:
      - docker
    volumes:
      # Mount the NAS share to the host machine at /mnt/nas/alist first,
      # to prevent CIFS credentials leaks to `docker inspect` capable users.
      - /mnt/nas/pve/volumes/alist:/opt/alist/data
      # Generate certificate ahead with:
      # certbot certonly --dns-cloudflare --dns-cloudflare-credentials /etc/private/certbot/cloudflare.ini -d alist.home.kokomi.site
      - /etc/letsencrypt/live/alist.home.kokomi.site:/opt/certs/live/alist.home.kokomi.site:ro
      - /etc/letsencrypt/archive/alist.home.kokomi.site:/opt/certs/archive/alist.home.kokomi.site:ro
    environment:
      TZ: Asia/Shanghai

  ddns:
    image: jeessy/ddns-go
    container_name: alist-ddns
    restart: unless-stopped
    network_mode: service:alist
    depends_on:
      - alist
    volumes:
      - /mnt/nas/pve/volumes/alist/ddns_go_config.yaml:/root/.ddns_go_config.yaml

networks:
  docker:
    external: true
