# filepath: /etc/systemd/network/00-ens18.network
[Match]
Name=ens18

[Link]
RequiredForOnline=carrier

[Network]
Description=Main router facing NIC
DHCP=ipv4
IPv6AcceptRA=false
