# filepath: /etc/systemd/network/00-ens18.network
[Match]
Name=ens18

[Link]
RequiredForOnline=carrier

[Network]
MACVLAN=docker-macvlan
DHCP=no
IPv6AcceptRA=no
