# This file configures HTTP endpoints that forwards incoming requests to a target URI
# according to the request domain (Host header). It is used to redirect requests for
# package repository domains to a mirror while preserving the original request URI,
# effectively implementing a transparent redirection/proxying behavior for those domains.

map $host $mirror_path {
    # special-case path overrides; everything else falls through to `default`.
    security.debian.org /debian-security;
    default "";
}

# append $host to default 'main' log format
# https://gist.github.com/mohanpedala/b601eb9929ce2cb5fd96d22430e0ffd8
log_format vhost '$host $remote_addr - $remote_user [$time_local] "$request" '
                 '$status $body_bytes_sent "$http_referer" '
                 '"$http_user_agent" "$http_x_forwarded_for"';
server {
    listen 80;
    # enable ipv6 on default.conf listen sockets like /docker-entrypoint.d/10-listen-on-ipv6-by-default.sh
    listen [::]:80;

    access_log  /var/log/nginx/access.log vhost;

    # keep sync with the network/router/RT-AX86U/jffs/configs/hosts.add
    server_name dl-cdn.alpinelinux.org
                deb.debian.org security.debian.org
                archive.ubuntu.com

                # mirrors used by https://github.com/community-scripts/ProxmoxVE/blob/7b5d525d266b33dd8516b9e162b790713695d9f0/misc/build.func#L4550
                mirror.init7.net
                ftp.halifax.rwth-aachen.de
                mirrors.edge.kernel.org
                alpine.mirror.wearetriple.com
                mirror.leaseweb.com
                uk.alpinelinux.org
                dl-2.alpinelinux.org
                dl-4.alpinelinux.org
                ;

    return 302 http://mirrors.huaweicloud.com$mirror_path$request_uri;
}
